<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijo-b/hijo-b.html">
<link rel="import" href="../hijo-c/hijo-c.html">

<dom-module id="padre-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[title]]</h2>
    <h4>[[description]]</h4>
    <paper-button>[[botonb]]</paper-button>
    <paper-button>[[botonc]]</paper-button>
    <hijo-b></hijo-b>
    <hijo-c></hijo-c>
  </template>
<!-- git push origin develop -->
  <script>
    /**
     * `padre-a`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreA extends Polymer.Element {
      static get is() { return 'padre-a'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Yo soy titulo del componente padre'
          },
          description: {
            type: String,
            value: 'Soy description'
          },
          botonb: {
            type: String,
            value: 'Boton B'
          },
          botonc: {
            type: String,
            value: 'Boton C'
          }
        };
      }
    }

    window.customElements.define(PadreA.is, PadreA);
  </script>
</dom-module>
